<ul class="nav nav-tabs">
    <li 
      class="nav-item"
      >
      <a 
        class="nav-link" 
        routerLink = "" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        Main
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLinkActive="active"
        routerLink = "addUser">
        Add User
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLinkActive="active"
        routerLink = "map">
        Map
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>
<router-outlet></router-outlet>